.background{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.331);
}
.close{
    display: flex;
    justify-content: space-between;
}
.container{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 45px;
    padding: 30px;
}
.agents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.terminal input{
    border: none;
    height: 30px;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    color: gray;
}
.terminal ::placeholder{
    color: gray;
}
.terminal{
    border: 1px solid gray;
    padding:10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    width: 25rem;
    height: 50px;
    background-color:#1B59F8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.drop{
    display: flex;
   border: 1px solid gray;
   padding: 10px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   gap: 6px;
}
.drop input{
    border: none;
    width: 100%;
    outline: none;
    color: black;
}
.drop ::placeholder{
    font-size: 15px;
    color: gray;
}
.dropdown{
    position: relative;
  
}
.agentnames{
    width: 100%;
    padding-top: 5px;
    height: 70px;
    overflow: hidden;
    overflow: scroll;
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.full{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.full p{
    border-bottom: 1px solid gray;
    padding: 5px;
}
