.background{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.331);
}
.close{
    display: flex;
    justify-content: space-between;
}
.container{
    background-color: white;
    height: 20rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 45px;
    padding: 30px;
}
.agents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.terminal input{
    border: none;
    height: 30px;
    outline: none;
    font-size: 15px;
    width: 100%;
    color: gray;
}
.terminal ::placeholder{
    color: gray;
}
.terminal{
    border: 1px solid gray;
    padding:10px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    width: 25rem;
    height: 50px;
    background-color:#1B59F8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}