.overlay{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
}
.white{
    background-color: white;
    width: 85%;
    overflow: hidden;
    overflow: scroll;
    border-radius: 10px;
    padding: 20px;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.servicetype{
   display: flex;
   padding-top: 30px;
   flex-direction: column;
   gap: 10px;
}
.servicetype label{
    font-size: 20px;
}
.servicetype select{
    padding: 15px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
}
.select{
    display: flex;
    border: 1px solid gray;
    outline: none;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}
.select select {
    border: none;
    width: 100%;
    font-size: 18px;
    appearance: none;
    outline: none;
}

.servicetype span{color: red;}
.flexout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding-top: 25px;

    padding: 10px;
}
.delete{
    display: flex;
    justify-content: flex-end;
        gap: 20px;
}
.delete button{
    width: 5rem;
        height: 40px;
        background-color: #1B59F8;
        border: none;
        font-size: 18px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        border-radius: 5px;
}
.addnew{
    display: flex;
    gap:20px;
}

.addnew button{
    width:10rem ;
    height: 40px;
    background-color: #1B59F8;
    border: none;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.submit{
    display: flex;
    justify-content: flex-end;
}
.submit button{
    margin-top: 30px;
    width:25rem ;
    height: 60px;
    background-color: #1B59F8;
    border: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.percentage {
    display: flex;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
}
.percentage ::placeholder{
    font-size: 15px;
}
.percentage ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
.percentage p{
    color: blue;
}
.percentage input{
    width: 85%;
    font-size: 20px;
    border: none;
    outline: none;
}