.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.553);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.white{
    background-color: white;
    border-radius: 10px;
    /* padding-top: 70px; */
    /* margin-right: 50px;
    margin-left: 70px; */
    padding: 30px;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}.inputs{
    padding-top:2rem ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    /* padding-right: 10rem; */
}
.billername{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 3rem;

}
.name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 3rem;
    width: 90%;
}
.name select{
    height: 60px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    color: gray;

}


.caret{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}
.caret input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 20rem;
}
.caret p{
    color: #1B59F8;

}

.commissionpercentage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
    /* padding-right: 10rem; */
    padding-left: 3rem;

}
.commissionpercentage h2{
    padding-top: 20px;
    font-weight: 500;
}
.percentage{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
.heading h1{
}
.percentage input{
    border: none;
    font-size: 15px;
    width: 15rem;
    outline: none;
    
}
.percent::-webkit-outer-spin-button,.percent::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    
}
/* .percent::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
} */

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
.submit{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.submit  button{
    width: 28rem;
    height: 60px;
    background-color: #1B59F8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}